---
title: Modal window
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga itaque dolore vero nostrum, inventore praesentium totam tenetur id! Perspiciatis quae voluptatum veniam, libero pariatur dolores totam tempore ex dicta cum.</p>
    </div>
  </div>

</div>

<div class="overlay"></div>
<div class="modal__wrapper">
  <div class="modal--alert">
    <div class="modal__header">
      <h1 class="modal__title">Update successful</h1>
      <a href="" class="modal__close">Close</a>
    </div>
    <div class="modal__content">
      <p>You've successfully updated your licence and are allowed to operate using these new details. You don't need to do anything else.</p>
    </div><!-- .modal__content -->
    <div class="actions-container">
      <a href="" class="action--primary large">Back to overview</a>
      <a href="" class="action--tertiary large">Close</a>
    </div>
  </div><!-- .modal -->
</div><!-- .modal__wrapper -->

