---
title: Modal window
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga itaque dolore vero nostrum, inventore praesentium totam tenetur id! Perspiciatis quae voluptatum veniam, libero pariatur dolores totam tempore ex dicta cum.</p>
    </div>
  </div>

</div>

<div class="overlay"></div>
<div class="modal__wrapper">
  <div class="modal">
    <div class="modal__header">
      <h1 class="modal__title">Important</h1>
      <a href="" class="modal__close">Close</a>
    </div>
    <div class="modal__content">
      <div class="article">
        <p>The changes that you've made need to be checked and approved before they become effective.</p>
        <p><b>It's illegal to change the way your operate until your application has been approved.</b></p>
        <p>We can't process your changes until you've:</p>
        <ul>
          <li>signed the declaration</li>
          <li>submitted the changes for review</li>
          <li>paid the fee</li>
        </ul>
        <p>We'll send you an email to let you know when a decision has been made and you can also track your application progress on the homepage.</p>
      </div>
    </div><!-- .modal__content -->
      <div class="actions-container">
        <a href="" class="action--primary large">Sign the declaration</a>
        <div class="action--tertiary large">Change something else</div>
      </div>
  </div><!-- .modal -->
</div><!-- .modal__wrapper -->

