/**
 * Confirmation
 */

.confirmation {
  color: #FFF;
  background: $turquoise;
  padding: $gutter-two-thirds $gutter $gutter-half;
  margin-bottom: 40px;
  h2 {
    margin: 0 !important;
    display: inline-block;
  }
  p {
    @extend %paragraph;
  }
  a {
  	color: #FFF;
  }
}